/* var.css */
:root {
    /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient( 135deg, #00FFE0 10%, #EB00FF 100%);
    
    /* 图标背景 */
    --vp-home-hero-image-background-image: linear-gradient( 135deg, #1dbbfa 10%, #2600ff 100%);
    --vp-home-hero-image-filter: blur(150px);
    --vp-font-family-base: "HYWenHei-55S"
    --vp-font-family-mono: "HYWenHei-55S"
  }
